#main {
  float: left;
  width: 320px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 300px;
  height: 70px;
}

#sequence text {
  font-size: 8px;
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  font-size: 10px;
  top: 120px;
  left: 80px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 1.5em;
  font-weight: bold;
}
